:root {
  --primary-color: #d3ab4c;
  --secondary-color: #fff4ff;
  --tertiary-color: #efefdc;
  --gradient: radial-gradient(
    circle at 10% 20%,
    rgb(151, 10, 130) 0%,
    rgb(33, 33, 33) 100.2%
  );
}
body {
  background: var(--gradient);
  color: var(--primary-color);
  font-family: "Cormorant Garamond", serif;
  height: 1vh;
  padding-top: 50px;
  text-align: center;
}
main {
  padding: 10px 80px;
}
h1 {
  color: var(--secondary-color);
  font-size: 44px;
}
h2 {
  font-family: "Red Hat Mono", monospace;
  font-size: 22px;
}
p {
  font-size: 18px;
}
footer {
  padding-top: 20px;
}
.quadros {
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-top: 20px;
  padding: 30px 20px;
  transition: all 150ms ease-in-out;
}
.quadros:hover {
  background-color: var(--tertiary-color);
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.col-foto {
  margin: 28px 0;
}
.col-texto {
  margin: 0 40px;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  color: var(--primary-color);
  font-size: 24px;
  padding-left: 25px;
}
.links a:hover {
  color: var(--tertiary-color);
}
.icon {
  padding: 0;
}
.repo-link {
  color: var(--secondary-color);
  text-decoration: none;
}
.repo-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    height: 100%;
    padding-top: 8px;
  }
  main {
    padding: 0 10px;
  }
  footer {
    margin: 40px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .col-foto {
    margin: 38px 0 0 0;
  }
  .col-texto {
    margin: 0 10px;
  }
  .quadros:active {
    color: var(--tertiary-color);
  }
}
